<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="__STATIC__/index/favicon.ico">
	<link rel="stylesheet" href="__STATIC__/index/css/iconfont.css">
	<link rel="stylesheet" href="__STATIC__/index/css/global.css">
	<link rel="stylesheet" href="__STATIC__/index/css/bootstrap.min.css">
	<link rel="stylesheet" href="__STATIC__/index/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="__STATIC__/index/css/swiper.min.css">
	<link rel="stylesheet" href="__STATIC__/index/css/styles.css">
	<script src="__STATIC__/index/js/jquery.1.12.4.min.js" charset="UTF-8"></script>
	<script src="__STATIC__/index/js/bootstrap.min.js" charset="UTF-8"></script>
	<script src="__STATIC__/index/js/swiper.min.js" charset="UTF-8"></script>
	<script src="__STATIC__/index/js/global.js" charset="UTF-8"></script>
	<script src="__STATIC__/index/js/jquery.DJMask.2.1.1.js" charset="UTF-8"></script>
	<title>U袋网</title>
</head>
<body>
	<!-- 顶部tab -->
	<div class="tab-header">
		<div class="inner">
			<div class="pull-left">
				<div class="pull-left">嗨，欢迎来到<span class="cr">U袋网</span></div>
				<a href="agentlevel">网店代销</a>
			</div>
			<div class="pull-right">
				{if condition="$Think.session.phone==null"}
				<a href="udlogin"><span class="cr"></span><span>登录</span></a>
				<a href="register">注册</a>
				{else /}
				<a href="udlogin"><span class="cr">{$username}</span><span>{$Think.session.phone}</span></a>
				<a href="emptysession">退出</a>
				{/if}
				<a href="udaiwelcome">我的U袋</a>
				{if condition="$Think.session.phone==null"}
					<a href="udlogin">我的订单</a>
				{else /}
					<a href="udaiorder">我的订单</a>
				{/if}
				
			</div>
		</div>
	</div>
	<!-- 搜索栏 -->
	<div class="top-search">
		<div class="inner">
			<a class="logo" href="udindex"><img src="__STATIC__/index/images/icons/logo.jpg" alt="U袋网" class="cover"></a>
			<div class="search-box">
				<form class="input-group" action="itemsalepage" method="get">
					<input placeholder="Ta们都在搜U袋网" type="text" name="goods_name">
					<span class="input-group-btn">
						<button type="submit">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</span>
				</form>
			</div>
			<div class="cart-box">
				{if condition="$Think.session.phone==null"}
				<a href="udlogin" class="cart-but">
					<i class="iconfont icon-shopcart cr fz16"></i> 购物车{$Think.session.carcount}件
				</a>
				{else /}
				<a href="udaishopcart" class="cart-but">
					<i class="iconfont icon-shopcart cr fz16"></i> 购物车{$Think.session.carcount}件
				</a>
				{/if}
			</div>
		</div>
	</div>
	<!-- 首页导航栏 -->
	<div class="top-nav bg3">
		<div class="nav-box inner">
			<div class="all-cat">
				<div class="title"><i class="iconfont icon-menu"></i> 全部分类</div>
				<div class="cat-list__box">
					{foreach $plist as $data}	
					<div class="cat-box" style="height:70px;">
						<div class="title">
							<i class="iconfont icon-skirt ce"></i>
							<a href="" style="color:white;">{$data.name}</a>
						</div>
						<ul class="cat-list clearfix">
						{foreach $data['child'] as $key=>$data2}
							<li><a href="../itemcategory?id={$data2[$key]['id']}" style="color:white;">{$data2[$key]['name']}</a></li>	
						{/foreach}
						</ul>
						<div class="cat-list__deploy">
							<div class="deploy-box">
							{foreach $data['child'] as $key=>$data2}
								<div class="genre-box clearfix">
									<span class="title">{$data2[$key]['name']}：</span>
									<div class="genre-list">
										{foreach $data2['child2'] as $k=>$data3}
										<a href="" style="color:white;">{$data3['name']}</a>
										{/foreach}
									</div>
								</div>
							{/foreach}
							</div>
						</div>
					</div>
					{/foreach}
				</div>
 			</div>
			<ul class="nva-list">
				<a href="udindex"><li class="active">首页</li></a>
				<a href="udaiarticle10"><li>企业简介</li></a>
				<a href="classroom"><li>U袋学堂</li></a>
				<a href="enterpriseid"><li>企业账号</li></a>
				<a href="udaicontract"><li>诚信合约</li></a>
				<a href="itemremove"><li>实时下架</li></a>
			</ul>
		</div>
	</div>
	<!-- 顶部轮播 -->
    <div class="swiper-container banner-box">
        <div class="swiper-wrapper">
        {foreach $ban as $v}
        	{if $v.state=='1'}
            <div class="swiper-slide"><a href="itemshow"><img src="{$v.imgname}" class="cover"></a></div>
        	{/if}
        {/foreach}
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <!-- 首页楼层导航 -->
	<nav class="floor-nav visible-lg-block">
		<span class="scroll-nav active">爆款推荐</span>
		  {volist name='hoot' id='ob'}
			<span class="scroll-nav">{$ob.name}</span>
		  {/volist}
	</nav>
	<!-- 楼层内容 -->
	<div class="content inner" style="margin-bottom: 40px;">
		<section class="scroll-floor floor-1 clearfix">
			<div class="floor-title">
				<i class="iconfont icon-skirt fz16"></i>爆款推荐
			</div>
			<div class="con-box">
				<a class="left-img hot-img" href="javascript:;">
					<img src="__STATIC__/index/images/floor_1.jpg" alt="" class="cover">
				</a>
				<div class="right-box">
				   {volist name="list" id="on"}
					<a href="itemshow?id={$on.id}" class="floor-item">
						<div class="item-img hot-img">
							<img src="uploads/{$on.img|substr=0,45}" alt="纯色圆领短袖T恤活a动衫弹" class="cover">
						</div>
						<div class="price clearfix">
							<span class="pull-left cr fz16">￥{$on.price}</span>
							<span class="pull-right c6">进货价</span>
						</div>
						<div class="name ep" title="纯色圆领短袖T恤活a动衫弹力柔软">{$on.describe}</div>
					</a>
				 {/volist}
					
				</div>
			</div>
		</section>
		<section class="scroll-floor floor-2">
			<div class="floor-title">
				<i class="iconfont icon-skirt fz16"></i>{$app.name}
				<div class="case-list fz0 pull-right">
				  {volist name="aps" id="kx"}	
					<a href="itemcategory?id={$kx.id}">{$kx.name}</a>
				  {/volist}
				</div>
			</div>
			<div class="con-box">
				<a class="left-img hot-img" href="javascript:;">
					<img src="__STATIC__/index/images/floor_2.jpg" alt="" class="cover">
				</a>
				<div class="right-box">
				   {volist name="shop" id="shod"}
					<a href="itemshow?id={$shod.id}" class="floor-item">
						<div class="item-img hot-img">
							<img src="uploads/{$shod.img|substr=0,45}" alt="纯色圆领短袖T恤活a动衫弹" class="cover">
						</div>
						<div class="price clearfix">
							<span class="pull-left cr fz16">￥{$shod.price}</span>
							<span class="pull-right c6">进货价</span>
						</div>
						<div class="name ep" title="纯色圆领短袖T恤活a动衫弹力柔软">{$shod.describe}</div>
					</a>
				 {/volist}
					
				</div>
			</div>
		</section>
		<section class="scroll-floor floor-3">
			<div class="floor-title">
				<i class="iconfont icon-fushi fz16"></i>{$sps.name}
				<div class="case-list fz0 pull-right">
					{volist name="das" id="dk"}
						<a href="itemcategory?id={$dk.id}">{$dk.name}</a>
					{/volist}
				</div>
			</div>
			<div class="con-box">
				<a class="left-img hot-img" href="javascript:;">
					<img src="__STATIC__/index/images/floor_3.jpg" alt="" class="cover">
				</a>
				<div class="right-box">
				   {volist name="hop" id="th"} 	
					<a href="itemshow?id={$th.id}" class="floor-item">

						<div class="item-img hot-img">
							<img src="uploads/{$th.img|substr=0,45}" alt="纯色圆领短袖T恤活a动衫弹" class="cover">
						</div>
						<div class="price clearfix">
							<span class="pull-left cr fz16">￥{$th.price}</span>
							<span class="pull-right c6">进货价</span>
						</div>
						<div class="name ep" title="纯色圆领短袖T恤活a动衫弹力柔软">{$th.describe}</div>
					</a>
				  {/volist}
				</div>
			</div>
		</section>
		<section class="scroll-floor floor-4">
			<div class="floor-title">
				<i class="iconfont icon-kid fz16"></i> {$hps.name}
				<div class="case-list fz0 pull-right">
					{volist name="kas" id="kp"}
					 <a href="itemcategory?id={$kp.id}">{$kp.name}</a>
					{/volist}
				</div>
			</div>
			<div class="con-box">
				<a class="left-img hot-img" href="javascript:;">
					<img src="__STATIC__/index/images/floor_4.jpg" alt="" class="cover">
				</a>
				<div class="right-box">
				   {volist name="nop" id="ks"}

					<a href="itemshow?id={$ks.id}" class="floor-item">
						<div class="item-img hot-img">
							<img src="uploads/{$ks.img|substr=0,45}" alt="纯色圆领短袖T恤活a动衫弹" class="cover">
						</div>
						<div class="price clearfix">
							<span class="pull-left cr fz16">￥{$ks.price}</span>
							<span class="pull-right c6">进货价</span>
						</div>
						<div class="name ep" title="纯色圆领短袖T恤活a动衫弹力柔软">{$ks.describe}</div>
					</a>
				  {/volist}
				</div>
			</div>
		</section>
		<section class="scroll-floor floor-5">
			<div class="floor-title">
				<i class="iconfont icon-bao fz16"></i>{$px.name}
				<div class="case-list fz0 pull-right">
					{volist name="kms" id="nk"}
					 <a href="itemcategory?id={$nk.id}">{$nk.name}</a>
					{/volist}
				</div>
			</div>
			<div class="con-box">
				<a class="left-img hot-img" href="javascript:;">
					<img src="__STATIC__/index/images/floor_5.jpg" alt="" class="cover">
				</a>
				<div class="right-box">
				   {volist name="nsp" id="fs"}
					<a href="itemshow?id={$fs.id}" class="floor-item">
						<div class="item-img hot-img">
							<img src="uploads/{$fs.img|substr=0,45}" alt="纯色圆领短袖T恤活a动衫弹" class="cover">
						</div>
						<div class="price clearfix">
							<span class="pull-left cr fz16">￥{$fs.price}</span>
							<span class="pull-right c6">进货价</span>
						</div>
						<div class="name ep" title="纯色圆领短袖T恤活a动衫弹力柔软">{$fs.describe}</div>
					</a>
				  {/volist}
				</div>
			</div>
		</section>
		<section class="scroll-floor floor-6">
			<div class="floor-title">
				<i class="iconfont icon-shoes fz16"></i>{$dok.name}
				<div class="case-list fz0 pull-right">
				    {volist name="haps" id="nb"}
					 <a href="itemcategory?id={$nb.id}">{$nb.name}</a>
				    {/volist}
				</div>
			</div>
			<div class="con-box">
				<a class="left-img hot-img" href="javascript:;">
					<img src="__STATIC__/index/images/floor_6.jpg" alt="" class="cover">
				</a>
				<div class="right-box">
				{volist name="esp" id="mh"}
					<a href="itemshow.html?id={$mh.id}" class="floor-item">
						<div class="item-img hot-img">
							<img src="uploads/{$mh.img|substr=0,45}" alt="纯色圆领短袖T恤活a动衫弹" class="cover">
						</div>
						<div class="price clearfix">
							<span class="pull-left cr fz16">￥{$mh.price}</span>
							<span class="pull-right c6">进货价</span>
						</div>
						<div class="name ep" title="纯色圆领短袖T恤活a动衫弹力柔软">{$mh.describe}</div>
					</a>
				  {/volist}
					
				</div>
			</div>
		</section>
	</div>
	<script>
		$(document).ready(function(){ 
			// 顶部banner轮播
			var banner_swiper = new Swiper('.banner-box', {
				autoplayDisableOnInteraction : false,
				pagination: '.banner-box .swiper-pagination',
				paginationClickable: true,
				autoplay : 5000,
			});
			// 新闻列表滚动
			var notice_swiper = new Swiper('.notice-box .swiper-container', {
				paginationClickable: true,
				mousewheelControl : true,
				direction : 'vertical',
				slidesPerView : 10,
				autoplay : 2e3,
			});
			// 楼层导航自动 active
			$.scrollFloor();
			// 页面下拉固定楼层导航
			$('.floor-nav').smartFloat();
			$('.to-top').toTop({position:false});
		});
	</script>
	<!-- 右侧菜单 -->
	<div class="right-nav">
		<ul class="r-with-gotop">
			<li class="r-toolbar-item">
				<a href="udaiwelcome" class="r-item-hd">
					<i class="iconfont icon-user"></i>
					<div class="r-tip__box"><span class="r-tip-text">用户中心</span></div>
				</a>
			</li>
			<li class="r-toolbar-item">
				<a href="udaishopcart" class="r-item-hd">
					<i class="iconfont icon-cart" data-badge="{$Think.session.carcount}"></i>
					<div class="r-tip__box"><span class="r-tip-text">购物车</span></div>
				</a>
			</li>
			<li class="r-toolbar-item to-top">
				<i class="iconfont icon-top"></i>
				<div class="r-tip__box"><span class="r-tip-text">返回顶部</span></div>
			</li>
		</ul>
	</div>
	<!-- 底部信息 -->
	<div class="footer">
		<div class="footer-tags">
			<div class="tags-box inner">
				<div class="tag-div">
					<img src="__STATIC__/index/images/icons/footer_1.gif" alt="厂家直供">
				</div>
				<div class="tag-div">
					<img src="__STATIC__/index/images/icons/footer_2.gif" alt="一件代发">
				</div>
				<div class="tag-div">
					<img src="__STATIC__/index/images/icons/footer_3.gif" alt="美工活动支持">
				</div>
				<div class="tag-div">
					<img src="__STATIC__/index/images/icons/footer_4.gif" alt="信誉认证">
				</div>
			</div>
		</div>
		<div class="copy-box clearfix">
			<ul class="copy-links">
				{foreach $url as $u}
				<a href="{$u.url}"><li>{$u.name}</li></a>
				{/foreach}
			</ul>
		</div>
		<div class="copy-box clearfix">
			<ul class="copy-links">
				<a href="agentlevel"><li>网店代销</li></a>
				<a href="classroom"><li>U袋学堂</li></a>
				<a href="udaiabout"><li>联系我们</li></a>
				<a href="udaiarticle10"><li>企业简介</li></a>
			</ul>
			<!-- 版权 -->
			<p class="copyright">
				© 2005-2018 U袋网 版权所有，并保留所有权利<br>
				ICP备案证书号：闽ICP备16015525号-2&nbsp;&nbsp;&nbsp;&nbsp;福建省宁德市福鼎市南下村小区（锦昌阁）1栋1梯602室&nbsp;&nbsp;&nbsp;&nbsp;Tel: 18650406668&nbsp;&nbsp;&nbsp;&nbsp;E-mail: 18650406668@qq.com
			</p>
		</div>
</body>
</html>
